extends common/layout

block layout-content
  .container.mt-5
    .row.my-5
      .col-md-8.m-auto
        .card
          .card-body
            // Title of the form
            h2.text-center.mb-4 Add New Camera
            
            // Add Camera Form
            form(method="post" action="/admin/add-camera/submit")
              .row
                // Left column for form inputs
                .col-md-6
                  .form-group.mt-3
                    label(for='model') Model:
                    input#model.form-control(type='text' name='model' placeholder='e.g., Canon EOS R5')
                  .form-group.mt-3
                    label(for='brand') Brand:
                    input#brand.form-control(type='text' name='brand' placeholder='e.g., Canon')
                  .form-group.mt-3
                    label(for='category') Category:
                    input#category.form-control(type='text' name='category' placeholder='e.g., Mirrorless')
                  .form-group.mt-3
                    label(for='image') Image Path/URL:
                    input#image.form-control(type='text' name='image' placeholder='/img/... or <url>')
                  .form-group.mt-3
                    label(for='featured') Featured Camera: 
                    input#featured.form-check-input.ms-2(type='checkbox' name='featured')
                
                // Right column for form inputs
                .col-md-6
                  .form-group.mt-3
                    label(for='make') Make:
                    input#make.form-control(type='number' name='make' placeholder='e.g., 2021')
                  .form-group.mt-3
                    label(for='rating') Rating:
                    input#rating.form-control(type='number' step='0.1' min='0' max='5' name='rating' placeholder='e.g., 4.8')
                  .form-group.mt-3
                    label(for='price') Price:
                    input#price.form-control(type='number' name='price' placeholder='e.g., 3899')
                  .form-group.mt-3
                    label(for='description') Description:
                    textarea#description.form-control(name='description' rows='3' placeholder='Enter camera description...')
              
              // Submit button row
              .row
                .col-12.d-flex.justify-content-center
                  button.mt-3.btn(type='submit') Add Camera
