extends common/layout

block main-content
  div.container.d-flex.justify-content-center.align-items-center.h-75
    form#mood-form(action="/predict-playlist" method="POST")
      label.h1(for="mood") How are you feeling today?
      .d-flex.gap-2.align-items-center
        textarea.form-control#mood(type="text" name="mood" placeholder="I am feeling happy!" required)
        button.submit-btn(type="submit")
          i.bi.bi-arrow-right-short
  div.container 
    h2 How to Use
    ol
      li 
      li 
      li 
      li 
