block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    title #{title} | Lab 6 XML
  body
    header#header
      div.header-content
        h2#site-name
          a(href="/") Lab 6 XML and JSON
    main#main
      block main-content
    footer#footer
      div &copy; Copyright HTTP5222 | Pavan Mistry, 2024.