header#header
  #logo-and-site-name
    //- image taken form https://www.flaticon.com/free-icon/perfume_2810345?term=perfume&page=1&position=45&origin=tag&related_id=2810345
    img#logo(src="./img/shopPerfumeLogo.png", alt="ShopPerfume Logo")
    a(href="#") ShopPerfume
  nav#main-navigation
    ul.menu
      li
        a(href="#") Home
      li
        a(href="#") Shop
      li
        a(href="#") About
      li
        a(href="#") Contact